# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
dataSources
workspace.xml
dataSources.xml
dataSources.local.xml
encodings.xml
templateLanguages.xml
jarRepositories.xml
jsLibraryMappings.xml
compiler.xml
uiDesigner.xml
vcs.xml
../target



